body {
    font-family: 'Nunito Sans', sans-serif;
    color: #5d5d5d;
}

.h1, h1 {
    font-size: 38px;
    font-weight: bold;
    color: #225e96;
}

.p, p {
    font-size: 18px;
    color: #5d5d5d;
}

.table .thead-blue th {
    background-color: #225e96;;
    border-color: #ccc;
    color: #fff;
}

.jumbo {
    height: 520px;
    background-image: linear-gradient(to right, #225e96, #00c1b6);
    padding-top: 30px;
}

.jumbo h1 {
    text-shadow: 0 5px 4px #4a4a4a;
    font-size: 42px;
    font-weight: 600;
    color: #ffffff;
}

.jumbo h2 {

    text-shadow: 0 5px 4px #4a4a4a;
    font-size: 34px;
    color: #ffffff;
}

.jumbo h3 {
    text-shadow: 0 5px 4px #4a4a4a;
    font-size: 28px;
    color: #ffffff;
}

.header {
    height: 260px;
    background-image: linear-gradient(to right, #225e96, #00c1b6);
    padding-top: 30px;
}

.header h1 {
    text-shadow: 0 5px 4px #4a4a4a;
    font-size: 42px;
    font-weight: 600;
    color: #ffffff;
}

.header h2 {

    text-shadow: 0 5px 4px #4a4a4a;
    font-size: 34px;
    color: #ffffff;
}

.header h3 {
    text-shadow: 0 5px 4px #4a4a4a;
    font-size: 28px;
    color: #ffffff;
}

.logo-container {
    margin-bottom: 30px;
}

.logo {
    margin-right: 30px;
    display: inline-block;
}

.display-2 {
    display: inline-block!important;
    margin-right: 30px;
}

.section-title {
    background-image: linear-gradient(to right, #225e96, #00c1b6);
    height: 90px;
    padding: 15px;
}

.section-title .title {
    font-size: 38px;
    color: #ffffff;

}

.section-content {
    border: solid 1px #225e96;
    padding: 15px;
}

.section-content .title {
    font-size: 38px;
    font-weight: bold;
    color: #225e96;
}

.info-container {
    display:flex;
    margin-top: auto;
}

.info-circle {
    display: flex;
    flex-direction: column;
    width: 5vw;
    height: 5vw;

    border: solid 4px #225e96;
    font-size: 42px;
    color: #225e96;
    border-radius: 50%;
    padding: 10px;
    text-align: center !important;
}

.info-data {
    display: flex;
    flex-direction: column;
    font-size: 54px;
    color: #225e96;
    padding: 10px;
    text-align: center !important;
    margin-top: auto;
    font-weight: bold;
}

.info-text {
    display: inline-block!important;
    font-size: 42px;
    color: #225e96;
    line-height: normal;
    vertical-align: center;
    /*margin-top: auto;*/
}

.info-number {
    font-size: 38px;
    font-weight: bold;
    color: #225e96;
    margin-left: 15px;
}

.info-text-secondary {
    font-size: 28px;
    /*color: #454545;*/
    color: #5d5d5d;
    margin-left: 45px;
}

.journal {
    height: 180px;
    margin-left: 20px;
    margin-top: 20px;
}

#journal-worldmap {
    width: 100%;
    height: 200px;
}

.footer {
    margin-top: 40px;
    background-color: #225e96;
    bottom: 0;
    height: 150px;
    min-height: 180px;
    padding: 60px;
}

.footer-nav {
    padding-top: 3.8rem;
}

.footer h1 {
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0px;
}

.footer p {
    font-size: 14px;
    color: #a2a6b0;
    line-height: 1.6rem;
    margin-top: 20px;
}

.footer a {
    background-color: transparent;
    color: #959595;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.footer a:hover {
    color: #ffffff;
}

.footer-logo {
    height: 50px;
    margin-right: 20px;
}

@media only screen and (max-width: 576px) {

    .jumbo h1 {
        font-size: 26px;
    }

    .jumbo h2 {
        font-size: 22px;
    }

    .jumbo h3 {
        font-size: 18px;
    }

    .header {
        height: 260px;
    }

    .header h1 {
        font-size: 36px;
    }

    .header h2 {
        font-size: 32px;
    }

    .display-2 {
        display: block!important;
        margin-top: 1.2rem;
        text-align: center;
    }

    .display-4 {
        display: flex;
        font-size: 2.6rem;
    }

    .info-text {
        display: block!important;
        text-align: center;
        font-size: 36px;
        margin-left: 0px;
        margin-bottom: 1.2rem;
    }

    .info-text-secondary {
        font-size: 22px;
        margin-left: 20px;
    }

    .info-number {
        font-size: 32px;
        margin-left: 10px;
    }

    .lead {
        font-size: 1rem;
    }

    .logo {
        margin-right: 10px;
    }

    .footer {
        margin-top: 15px;
        height: 150px;
        min-height: 180px;
        padding: 10px;
    }

}
