body {
    font-family: 'Nunito Sans', sans-serif;
}

.jumbo {
    height: 520px;
    background-image: linear-gradient(to right, #225e96, #00c1b6);
    padding-top: 30px;
}

.header {
    height: 260px;
    background-image: linear-gradient(to right, #225e96, #00c1b6);
    padding-top: 30px;
}

.jumbo, .header h1 {
    text-shadow: 0 5px 4px #4a4a4a;
    font-size: 42px;
    font-weight: 600;
    color: #ffffff;
}

.jumbo, .header  h2 {

    text-shadow: 0 5px 4px #4a4a4a;
    font-size: 34px;
    color: #ffffff;
}

.jumbo, .header  h3 {
    text-shadow: 0 5px 4px #4a4a4a;
    font-size: 28px;
    color: #ffffff;
}

.logo-container {
    margin-bottom: 30px;
}

.logo {
    margin-right: 30px;
    display: inline-block;
}

.section-title {
    background-image: linear-gradient(to right, #225e96, #00c1b6);
    height: 90px;
    padding: 15px;
}

.section-title .title {
    font-size: 38px;
    color: #ffffff;

}

.section-content {
    border: solid 1px #225e96;
    padding: 15px;
}

.section-content .title {
    font-size: 38px;
    font-weight: bold;
    color: #225e96;
}
.info-circle {
    border: solid 4px #225e96;
    font-size: 42px;
    color: #225e96;
    border-radius: 50%;
    padding: 10px;
}

.info-text {
    font-size: 42px;
    color: #225e96;
    line-height: normal;
    margin-left: 20px;
}

.info-number {
    font-size: 38px;
    font-weight: bold;
    color: #225e96;
    margin-left: 15px;
}

.info-text-secondary {
    font-size: 28px;
    /*color: #454545;*/
    color: #5d5d5d;
    margin-left: 40px;
}

.h1, h1 {
    font-size: 38px;
    font-weight: bold;
    color: #225e96;
}

.p, p {
    font-size: 18px;
    color: #5d5d5d;
}

.footer {
    margin-top: 40px;
    background-color: #225e96;
    bottom: 0;
    height: 150px;
    min-height: 180px;
    padding: 60px;
}

.footer-nav {
    padding-top: 3.8rem;
}

.footer h1 {
    color: white;
    font-size: 16px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 0px;
}

.footer p {
    font-size: 14px;
    color: #a2a6b0;
    line-height: 1.6rem;
    margin-top: 20px;
}

.footer a {
    background-color: transparent;
    color: #959595;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.footer a:hover {
    color: #ffffff;
}

.footer-logo {
    height: 50px;
    margin-right: 20px;
}